<div class="panel panel-default" ng-init="showlignefrais()">
	<div class="panel-heading">
	  <p class="panel-title"> Détail de la ligne de Frais</p>
	</div>
	<div class="panel-body">
		<form>
		<div class="form-group">
		 <label class="form-control">Categorie: {{ LF.categorie }}</label>
		 <label class="form-control">Date: {{ LF.date }}</label>
		 <label class="form-control">Montant: {{ LF.montant }}</label>
		
		<a href="#/LignesFrais" class="btn btn-default"> Annuler</a>
		</div>
	</form>		
    <div>
<div>